<div>
  <p>Login</p>
</div>
{{> message}}
<form action="/login" method="POST">
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter Email" required>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>
<div>
  <span>No account?</span>
  <a href="/register">Register</a>
</div>

<div>
  <a href="/todos">home</a>
</div>