<div>
  <p>Register</p>
</div>
<form>
  <div class="mb-3">
    <label for="InputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="InputName" aria-describedby="name-description" placeholder="Enter name">
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password">
  </div>

  <div class="mb-3">
    <label for="confirmInputPassword" class="form-label">Confirm password</label>
    <input type="password" class="form-control" id="confirmInputPassword" placeholder="Confirm password">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
<div>
  <span>Already have an account?</span>
  <a href="/users/login">Login</a>
</div>

<div>
  <a href="/todos">home</a>
</div>