<div>
  <p>Register</p>
</div>
{{> message}}
<form action="/users" method="POST">
  <div class="mb-3">
    <label for="InputName" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" aria-describedby="name-description" placeholder="Enter name">
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter Email" required>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
  </div>

  <div class="mb-3">
    <label for="confirmInputPassword" class="form-label">Confirm password</label>
    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm password" required>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
<div>
  <span>Already have an account?</span>
  <a href="/login">Login</a>
</div>

<div>
  <a href="/todos">home</a>
</div>